<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need)</span></div>

# What to expect in this chapter

# 1 The for iterator

In [8]:
real_names = ['Joash Ang', 'James Lim', 'John Lee']

for name in real_names:
    count = 0
    count +=1
    print(count, name)

1 Joash Ang
1 James Lim
1 John Lee

In [ ]:
count = 0
for name in real_names:
    count +=1
    print(count, name)
    # Placement of statement matters!

1 Joash Ang
2 James Lim
3 John Lee

In [ ]:
for count, name in enumerate(real_names, start=1000):
    print(count, name)

1000 Joash Ang
1001 James Lim
1002 John Lee

In [12]:
for count, name in enumerate(real_names, start=1):
    first_name, last_name = name.split()
    print(count, first_name, last_name.upper())

1 Joash ANG
2 James LIM
3 John LEE

In [16]:
all_names = ""
for count, name in enumerate(real_names, start = 1):
    first_name, last_name = name.split()
    all_names += f'{first_name} has the sir name {last_name}\n'

print(all_names)

Joash has the sir name Ang
James has the sir name Lim
John has the sir name Lee

In [ ]:
for i in range(0, 1000, 2):
    if i > 27:
        break
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26

In [ ]:
for i in range(0, 1000, 2):
    print(i)
    if i > 27:
        break
    #there's a difference in output when placement of statement differs!

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28

## 1.1 for with a list

## 1.2 for with enumerate

## 1.3 for with range

# 2 while